// Place all the styles related to the Properties controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

table2, proplink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fieldp {

    display: flex;
    align-items: center;
    justify-content: center;
}

buttonp {
  display: flex;
  align-items: center;
  justify-content: center;
}
